@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body, #app {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background: #e7e7e7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    flex-wrap: wrap;
}

.event-container {
    min-width: 49%;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
}

.event-cover {
    height: 300px;
    background: #d4d4d4;
    border-radius: 6px 6px 0 0;
}

.event-body, .event-footer {
    padding: 20px;
}

.event-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

.event-date {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: seagreen;
}

.event-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    padding: 10px 20px;
    border: solid 1px transparent;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background: #ffffff;
}

.button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.details-button {
    border-color: lightseagreen;
    color: lightseagreen;
}

.apply-button {
    background: lightseagreen;
    color: #ffffff;
}

@media (max-width: 1080px) {
    .event-container {
        min-width: 100%;
    }
}